<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear cuenta</title>
    <link rel="stylesheet" th:href="@{/css/estilo.css}" />

</head>
<body>
<section class="register">
    <div class="registercontainer">

        <h2 class="registertitle">Registro de usuario</h2>

        <form class="registerform"
              th:action="@{/security/user/register}"
              method="post"
              th:object="${user}">

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <div class="registerfield">
                <label class="registerlabel">Usuario</label>
                <input class="registerinput" type="text" th:field="*{nomusuario}" required>
            </div>

            <div class="registerfield">
                <label class="registerlabel">Nombres</label>
                <input class="registerinput" type="text" th:field="*{nombres}" required>
            </div>

            <div class="registerfield">
                <label class="registerlabel">Email</label>
                <input class="registerinput" type="email" th:field="*{email}" required>
            </div>

            <div class="registerfield">
                <label class="registerlabel">Contraseña</label>
                <input class="registerinput" type="password" th:field="*{password}" required>
            </div>

            <button class="registerbutton" type="submit">Registrar</button>

        </form>

        <a class="registerlink" th:href="@{/login}">
            Volver al login
        </a>

    </div>
</section>
</body>
</html>