<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear cuenta</title>
</head>
<body>

<h2>Registro de usuario</h2>

<form th:action="@{/security/user/register}" method="post" th:object="${user}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <div>
        <label>Usuario</label>
        <input type="text" th:field="*{nombreUsuario}" required>
    </div>

    <div>
        <label>Email</label>
        <input type="email" th:field="*{email}" required>
    </div>

    <div>
        <label>Contraseña</label>
        <input type="password" th:field="*{password}" required>
    </div>

    <button type="submit">Registrar</button>

</form>

<a th:href="@{/login}">Volver al login</a>

</body>
</html>