<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: layout (~{::title}, ~{::section})">

<head>
    <title>Hábitos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>

<body>
<section>

    <div class="d-flex justify-content-between mb-3">
        <h2>Mis Hábitos</h2>
        <a th:href="@{/habitos/nuevo}" class="btn btn-primary">
            Nuevo hábito
        </a>
    </div>

    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acción</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="h : ${habitos}">
            <td th:text="${h.nombre}"></td>
            <td th:text="${h.descripcion}"></td>
            <td>
                <a th:href="@{/habitos/marcar/{id}(id=${h.id})}"
                   class="btn btn-success btn-sm">
                    Marcar hoy
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Modal crear hábito -->
    <div class="modal fade" id="modalCrear" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{/habitos/crear}" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">Nuevo hábito</h5>
                    </div>

                    <div class="modal-body">

                        <div class="mb-3">
                            <label>Nombre</label>
                            <input type="text" name="nombre" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label>Descripción</label>
                            <input type="text" name="descripcion" class="form-control">
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>