.calendar-full-container {

  min-height: 300px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 16px;

  gap: 10px;
  padding: 10px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);

}

.calendar-full-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 45px;

}

.calendar-full-box {
  display: flex;
  flex-direction: column;

}



.calendar-full-header strong {
  font-size: 24px;
}

.calendar-full-header p {
  font-size: 18px;
  color: #7f8c8d;
}


.calendar-full-grid {
  flex: 1;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 12px;

  list-style: none;
  padding: 0;
  margin: 0;
}


.calendar-full-grid li {
  width: 100%;
  aspect-ratio: 1 / 1;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #ecf0f1;
  border-radius: 12px;

  font-weight: bold;
  font-size: 16px;

  cursor: pointer;
  transition: all 0.2s ease;
}

.calendar-full-grid li:hover {
  background: #3498db;
  color: white;
  transform: scale(1.05);
}

.calendar-full-active {
  background: #2ecc71 !important;
  color: white;
}


.calendar-full-empty {
  background: transparent !important;
  pointer-events: none;
}

.calendar-full-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 10px;
}

.calendar-full-weekdays span {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #7f8c8d;
}