.calendar-full-body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #151e3b;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Nunito", sans-serif;
}

.calendar-full-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}


.calendar-full-box {
  width: 90%;
  max-width: 900px;
  height: 85%;

  background: white;
  border-radius: 16px;

  padding: 25px;

  display: flex;
  flex-direction: column;

  box-shadow: 0px 15px 30px rgba(0,0,0,0.2);
}


.calendar-full-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
}

.calendar-full-header strong {
  font-size: 24px;
}

.calendar-full-header p {
  font-size: 18px;
  color: #7f8c8d;
}


.calendar-full-grid {
  flex: 1;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 12px;

  list-style: none;
  padding: 0;
  margin: 0;
}


.calendar-full-grid li {
  width: 100%;
  aspect-ratio: 1 / 1;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #ecf0f1;
  border-radius: 12px;

  font-weight: bold;
  font-size: 16px;

  cursor: pointer;
  transition: all 0.2s ease;
}

.calendar-full-grid li:hover {
  background: #3498db;
  color: white;
  transform: scale(1.05);
}

.calendar-full-active {
  background: #2ecc71 !important;
  color: white;
}


.calendar-full-empty {
  background: transparent !important;
  pointer-events: none;
}